{% extends "extends/main.html" %}
{% block title %}Quests - {{ q_quest.title }}{% endblock %}


{% block alpinejs_page_data %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('quest_master', () => ({

                socket: null,

                user_id: '{{ session.get("user_id") }}',

                quest_id: {{ q_quest.quest_id }},
                quest_code: '{{ q_quest.quest_code }}',
                title: '{{ q_quest.title }}',
                genre: '{{ q_quest.rel_genre.genre }}',
                summary: '{{ q_quest.summary }}',

                building: {{ q_quest.building|string|lower }},
                live: {{ q_quest.live|string|lower }},
                finished: {{ q_quest.finished|string|lower }},

                section_quest: false,
                section_join_requests: false,
                section_characters: false,
                section_np_characters: false,
                section_locations: false,

                join_requests: [],
                ignored_join_requests: [],

                wsConnect() {
                    this.socket = new WebSocket('{{ ws_uri }}')
                    this.wsEvents()
                },

                wsAuthenticate() {
                    this.socket.send(JSON.stringify({
                        'user_id': '{{ session.get("user_id") }}',
                        'private_key': '{{ private_key }}',
                        'action': 'authenticate'
                    }))
                },

                wsEvents() {
                    this.socket.onopen = (event) => {
                        console.log('WebSocket is connected')
                        this.wsAuthenticate()
                        this.getJoinRequests()
                    }

                    this.socket.onmessage = (event) => {

                        const data = JSON.parse(event.data)

                        if (data.action === 'refresh_join_requests') {
                            // push to the end of the event loop
                            setTimeout(() => {
                                this.getJoinRequests()
                            }, 10)
                        }

                        if (data.hasOwnProperty('set_variables')) {

                            for (const [key, value] of Object.entries(data.set_variables)) {
                                this[key] = value
                            }
                        }

                        if (data.hasOwnProperty('message')) {
                            Alpine.store('body').showMessage(data.message, data.message_status)
                        }

                    }

                    this.socket.onclose = (event) => {
                        console.log('WebSocket is closed now.')
                    }
                },

                wsSend() {
                    this.socket.send(JSON.stringify({
                        'type': 'message',
                        'message': 'Hello, World!'
                    }))
                },

                getJoinRequests() {
                    this.socket.send(JSON.stringify({
                        'user_id': this.user_id,
                        'action': 'get_data',
                        'data': {
                            'quest_id': this.quest_id,
                            'function': 'getJoinRequests'
                        }
                    }))
                },

                acceptJoinRequest() {
                    this.socket.send(JSON.stringify({
                        'user_id': this.user_id,
                        'action': 'acceptJoinRequest',
                        'data': {
                            'quest_id': this.quest_id,
                            'user_id': user_id
                        }
                    }))
                },

                rejectJoinRequest() {
                    this.socket.send(JSON.stringify({
                        'user_id': this.user_id,
                        'action': 'reject_join_request',
                        'data': {
                            'quest_id': this.quest_id,
                            'user_id': user_id
                        }
                    }))
                },

                init() {
                    this.wsConnect()
                }

            }))
        })

    </script>
{% endblock %}

{% block container %}

    <section x-data="quest_master" class="slim">

        <section class="collapsible">

            <button @click="section_quest = !section_quest"
                    class="btn"
                    :class="section_quest ? 'open' : 'closed'">
                <span>Quest</span>

                <img width="12"
                     x-cloak
                     x-show="!section_quest"
                     src="{{ url_for('static', filename="icons/fold-down.svg") }}"
                     alt="Fold Down">
                <img width="12"
                     x-cloak
                     x-show="section_quest"
                     src="{{ url_for('static', filename="icons/fold-up.svg") }}"
                     alt="Fold Up">
            </button>

            <div class="collapsible-content flex flex-col gap-2"
                 x-cloak
                 x-show="section_quest">

                <div class="inner-option-box">
                    <h1 class="text-2xl">{{ q_quest.title }}</h1>
                    <p>{{ q_quest.summary }}</p>
                </div>
                <div class="inner-option-box">
                    <p>Genre: <strong>{{ q_quest.rel_genre.genre }}</strong></p>
                    <p>Quest Code: <strong>{{ q_quest.quest_code }}</strong></p>
                </div>

            </div>

        </section>

        <section class="collapsible">

            <button @click="section_join_requests = !section_join_requests"
                    class="btn"
                    :class="section_join_requests ? 'open' : 'closed'">
                <span>Join Requests (<span x-text="join_requests.length"></span>)</span>

                <img width="12"
                     x-cloak
                     x-show="!section_join_requests"
                     src="{{ url_for('static', filename="icons/fold-down.svg") }}"
                     alt="Fold Down">
                <img width="12"
                     x-cloak
                     x-show="section_join_requests"
                     src="{{ url_for('static', filename="icons/fold-up.svg") }}"
                     alt="Fold Up">
            </button>

            <div class="collapsible-content"
                 x-cloak
                 x-show="section_join_requests">

                <template x-for="jr in join_requests">

                    <div class="inner-option-box-min flex justify-between items-center">
                        <div>
                            <div>Name: <span x-text="jr.first_name"></span></div>
                            <div>Email: <span x-text="jr.email_address"></span></div>
                        </div>
                        <div>
                            <button class="btn confirm">Accept</button>
                            <button class="btn danger">Block</button>
                        </div>
                    </div>

                </template>

            </div>

        </section>

        <section class="collapsible">

            <button @click="section_characters = !section_characters"
                    class="btn"
                    :class="section_characters ? 'open' : 'closed'">
                Characters

                <img width="12"
                     x-cloak
                     x-show="!section_characters"
                     src="{{ url_for('static', filename="icons/fold-down.svg") }}"
                     alt="Fold Down">
                <img width="12"
                     x-cloak
                     x-show="section_characters"
                     src="{{ url_for('static', filename="icons/fold-up.svg") }}"
                     alt="Fold Up">
            </button>

            <div class="collapsible-content"
                 x-cloak
                 x-show="section_characters">


            </div>

        </section>

        <section class="collapsible">

            <button @click="section_np_characters = !section_np_characters"
                    class="btn"
                    :class="section_np_characters ? 'open' : 'closed'">
                Non-Playable Characters

                <img width="12"
                     x-cloak
                     x-show="!section_np_characters"
                     src="{{ url_for('static', filename="icons/fold-down.svg") }}"
                     alt="Fold Down">
                <img width="12"
                     x-cloak
                     x-show="section_np_characters"
                     src="{{ url_for('static', filename="icons/fold-up.svg") }}"
                     alt="Fold Up">
            </button>

            <div class="collapsible-content"
                 x-cloak
                 x-show="section_np_characters">


            </div>

        </section>

        <section class="collapsible">

            <button @click="section_locations = !section_locations"
                    class="btn"
                    :class="section_locations ? 'open' : 'closed'">
                Locations

                <img width="12"
                     x-cloak
                     x-show="!section_locations"
                     src="{{ url_for('static', filename="icons/fold-down.svg") }}"
                     alt="Fold Down">
                <img width="12"
                     x-cloak
                     x-show="section_locations"
                     src="{{ url_for('static', filename="icons/fold-up.svg") }}"
                     alt="Fold Up">
            </button>

            <div class="collapsible-content"
                 x-cloak
                 x-show="section_locations">


            </div>

        </section>

    </section>

{% endblock %}
