<section class="collapsible" x-data="{
    showAddJson() {
        Alpine.store('body').showModal('add-arc-cards-from-json')
    },
    closeAddJson() {
        Alpine.store('body').closeModal('add-arc-cards-from-json')
    }
}">

    <button @click="section_arc_cards = !section_arc_cards"
            class="btn"
            :class="section_arc_cards ? 'open' : 'closed'">
        <span>Arc Cards ({{ quest.rel_arc_cards|length }})</span>

        <img width="12"
             x-cloak
             x-show="!section_arc_cards"
             src="{{ url_for('static', filename="icons/fold-down.svg") }}"
             alt="Fold Down">
        <img width="12"
             x-cloak
             x-show="section_arc_cards"
             src="{{ url_for('static', filename="icons/fold-up.svg") }}"
             alt="Fold Up">
    </button>

    <div class="collapsible-content"
         x-cloak
         x-show="section_arc_cards">

        <div class="quest-arc-cards">

            <div class="quest-arc-card-add">
                <a href="{{ url_for('quest.add_arc_card', quest_id=quest.quest_id) }}"
                   class="btn confirm">
                    New Arc Card</a>
                <button type="button" class="btn confirm" @click="showAddJson()">Add From JSON</button>
            </div>

            {% for arc_card in quest.rel_arc_cards %}

                <div class="quest-arc-card" x-data="{show_delete: false}">

                    <h3 class="text-2xl">{{ arc_card.arc }}</h3>

                    {# DESCRIPTION #}
                    <p class="py-2">{{ arc_card.description }}</p>

                    {# MODIFIER #}
                    {% if arc_card.modifier %}
                        <div class="inner-option-box-min">

                            <div class="flex items-center gap-1">
                                <img class="character-stat-icon"
                                     src="{{ url_for('static', filename='icons/modifier.svg') }}"
                                     alt="Modifier">
                                <small>Modifier</small>
                            </div>

                            <div class="character-stat">
                                <p class="px-2">{{ arc_card.modifier }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {# BONUS #}
                    {% if arc_card.bonus %}
                        <div class="inner-option-box-min">

                            <div class="flex items-center gap-1">

                                <img class="character-stat-icon"
                                     src="{{ url_for('static', filename='icons/bonus.svg') }}"
                                     alt="Bonus">
                                <small>Bonus</small>

                            </div>

                            <div class="character-stat">
                                <p class="px-2">{{ arc_card.bonus }}</p>
                            </div>

                        </div>
                    {% endif %}

                    {# HEALTH #}
                    <div class="inner-option-box-min flex flex-col gap-2 mt-1">

                        <div>

                            <div class="flex justify-between items-center mb-1">
                                <div class="flex items-center gap-2 mb-1">

                                    <img class="character-stat-icon"
                                         src="{{ url_for('static', filename='icons/health.svg') }}"
                                         alt="Health">
                                    <small>Health</small>

                                </div>

                                <div>
                                    (
                                    <small>{{ arc_card.health }}</small>
                                    / <small> {{ arc_card.health }}</small>
                                    )
                                </div>
                            </div>

                            <div class="character-health">

                                <div class="high w-full">
                                </div>

                            </div>

                        </div>

                        <div class="character-stat">
                            <div>
                                <img class="character-stat-icon"
                                     src="{{ url_for('static', filename='icons/defence.svg') }}"
                                     alt="Defence">
                                <small>Defence</small>
                            </div>

                            <div class="pill pill-defence">{{ arc_card.defence }}</div>
                        </div>

                    </div>

                    {# STARTING WEAPON #}
                    <div class="inner-option-box-min">
                        <small>Starting Weapon</small>

                        <div class="character-stat">
                            <div>
                                <img class="character-stat-icon"
                                     src="{{ url_for('static', filename='icons/weapon.svg') }}"
                                     alt="Weapon">
                                <small>{{ arc_card.starting_weapon_name }}</small>
                            </div>

                            <div class="pill pill-attack">{{ arc_card.starting_weapon_damage }}</div>
                        </div>
                    </div>

                    {# CHARACTER STATS #}
                    <div class="inner-option-box-min">


                        <div class="character-stat">
                            <div>
                                <img class="character-stat-icon"
                                     src="{{ url_for('static', filename='icons/strength.svg') }}"
                                     alt="Strength">
                                <small>Strength</small>
                            </div>

                            <div class="pill">{{ arc_card.strength }}</div>
                        </div>


                        <div class="character-stat">
                            <div>
                                <img class="character-stat-icon"
                                     src="{{ url_for('static', filename='icons/agility.svg') }}"
                                     alt="Agility">
                                <small>Agility</small>
                            </div>

                            <div class="pill">{{ arc_card.agility }}</div>
                        </div>

                        <div class="character-stat">
                            <div>
                                <img class="character-stat-icon"
                                     src="{{ url_for('static', filename='icons/intelligence.svg') }}"
                                     alt="Intelligence">
                                <small>Intelligence</small>
                            </div>

                            <div class="pill">{{ arc_card.intelligence }}</div>
                        </div>

                        <div class="character-stat">
                            <div>
                                <img class="character-stat-icon"
                                     src="{{ url_for('static', filename='icons/luck.svg') }}"
                                     alt="Luck">
                                <small>Luck</small>
                            </div>

                            <div class="pill">{{ arc_card.luck }}</div>
                        </div>

                        <div class="character-stat">
                            <div>
                                <img class="character-stat-icon"
                                     src="{{ url_for('static', filename='icons/perception.svg') }}"
                                     alt="Perception">
                                <small>Perception</small>
                            </div>

                            <div class="pill">{{ arc_card.perception }}</div>
                        </div>

                        <div class="character-stat">
                            <div>
                                <img class="character-stat-icon"
                                     src="{{ url_for('static', filename='icons/persuasion.svg') }}"
                                     alt="Persuasion">
                                <small>Persuasion</small>
                            </div>

                            <div class="pill">{{ arc_card.persuasion }}</div>
                        </div>

                    </div>

                    <a href="{{ url_for('quest.edit_arc_card',
                        quest_id=quest.quest_id,
                        arc_card_id=arc_card.arc_card_id) }}" class="btn">Edit</a>

                    <button class="btn danger"
                            x-cloak
                            x-show="!show_delete"
                            @click="show_delete = true">Delete
                    </button>


                    <button class="btn"
                            x-cloak
                            x-show="show_delete"
                            @click="show_delete = false">Cancel Delete
                    </button>

                    <a class="btn danger"
                       x-cloak
                       x-show="show_delete"
                       href="{{ url_for(
                               'quest.delete_arc_card',
                                quest_id=quest.quest_id,
                                arc_card_id=arc_card.arc_card_id
                                ) }}">Confirm Delete</a>

                </div>


            {% endfor %}



            <dialog id="add-arc-cards-from-json" class="w-full">

                <div>

                    <form action="{{ url_for('quest.add_json_arc_cards', quest_id=quest.quest_id) }}"
                          method="post"
                          class="flex flex-col w-full">

                        <label for="json_data">JSON</label>
                        <textarea name="json_data" id="json_data" rows="15" required></textarea>
                        <div class="flex justify-between">
                            <button type="button" class="btn" @click="closeAddJson()">Cancel</button>
                            <button type="submit" class="btn confirm">Add</button>
                        </div>
                    </form>

                </div>
            </dialog>

        </div>

    </div>

</section>
