{% extends "extends/main.html" %}
{% block title %}Quests - {{ q_quest.title }}{% endblock %}


{% block alpinejs_page_data %}
    <script>

        document.addEventListener('alpine:init', () => {
            Alpine.data('quest_edit', () => ({
                tab: '{{ request.args.get('tab', 'arc_cards') }}',
            }))
        })

    </script>
{% endblock %}


{% block container %}
    <section x-data="quest_edit">
        <div class="form-box">
            <form action="{{ url_for('www.quest.edit', quest_id=q_quest.quest_id, var='edit') }}"
                  method="post"
                  class="flex flex-col w-full"
                  x-data="{genre: '{{ q_quest.fk_genre_id }}'}">


                <div class="flex flex-row justify-between gap-2 mb-6">
                    <a href="{{ url_for('www.quests') }}" role="button" class="btn fait">
                        Back
                    </a>

                    <button type="submit" class="btn confirm">Save Quest</button>
                </div>


                <div class="inner-option-box mb-4">

                    <div>
                        {% if not q_quest.finished %}

                            {% if not q_quest.building %}

                                {% if q_quest.live %}
                                    <small>Live</small>
                                {% else %}
                                    <small>Paused</small>
                                {% endif %}

                            {% else %}
                                <small>Building</small>
                            {% endif %}

                        {% else %}
                            <small>Finished</small>
                        {% endif %}
                    </div>

                    <div>
                        <small x-show="genre === '0' || genre === 'None'" x-cloak>
                            Select a quest genre...</small>
                        {% for genre in q_genres %}
                            <small x-show="genre === '{{ genre.genre_id }}'" x-cloak>
                                {{ genre.genre }}</small>
                        {% endfor %}
                    </div>

                </div>

                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="{{ q_quest.title }}" required>

                <label for="fk_genre_id">Genre</label>
                <select name="fk_genre_id" id="fk_genre_id" x-model="genre" required>
                    <option value="0">Select...</option>
                    {% for genre in q_genres %}
                        <option value="{{ genre.genre_id }}">
                            {{ genre.genre }} - {{ genre.description }}
                        </option>
                    {% endfor %}
                </select>

                <label for="summary">Summary</label>
                <textarea name="summary" id="summary" cols="30" rows="5"
                          style="margin-bottom: 0;">{{ q_quest.summary }}</textarea>

            </form>

            <div class="flex flex-col mt-6">

                <div class="tabs">
                    <button type="button"
                            @click="tab = 'arc_cards'"
                            class="tab" :class="tab === 'arc_cards' ? 'active' : ''">
                        Arc Cards
                    </button>
                    <button type="button"
                            @click="tab = 'np_arc_cards'"
                            class="tab" :class="tab === 'np_arc_cards' ? 'active' : ''">
                        Non-Playable Arc Cards
                    </button>
                </div>

                {% include 'quest/includes/arc_cards.html' %}
                {% include 'quest/includes/np_arc_cards.html' %}

            </div>

        </div>
    </section>
    <section x-data="{show_delete: false}">

        <div class="option-box flex flex-col gap-4">
            <strong class="text-red-700">DANGER ZONE</strong>

            <p>Deleting the quest will delete everything attached to the quest, and there's no undoing this.</p>

            <div class="mt-2">
                <button type="button"
                        class="btn danger"
                        x-show="!show_delete"
                        @click="show_delete = true">Delete Quest
                </button>
                <button type="button"
                        class="btn"
                        x-show="show_delete"
                        @click="show_delete = false">Cancel Delete
                </button>
                <a x-cloak
                   x-show="show_delete"
                   @click.outside="show_delete = false"
                   class="btn danger"
                   href="{{ url_for('www.quest.delete', quest_id=q_quest.quest_id) }}">
                    Confirm Delete
                </a>
            </div>
        </div>

    </section>
{% endblock %}
