body {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    font-family: 'Inter var', sans-serif;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    overscroll-behavior: contain;
}

.flash {
    @apply flex w-full justify-start;
    max-width: 400px;
    min-width: 0;
}

.flash-message {
    @apply flex justify-start items-start
    py-6 px-8 border rounded-md gap-4 flex-grow-0;
    width: 400px;
    background-color: var(--option-box-bg);
    border-color: var(--option-box-b);
    min-width: 0;
}

dialog {
    @apply relative z-10 overflow-hidden rounded-md;
    background: none;
    min-width: 400px;
    max-width: 1024px;
    max-height: 600px;
    overscroll-behavior: contain;
}

dialog > div {
    @apply h-full w-full flex flex-col gap-4 p-8;
    background-color: var(--dialog-bg-color);
    border: 1px solid var(--dialog-b-color);
    color: var(--dialog-color);
}

dialog > div h2 {
    @apply text-2xl;
}

dialog > div p {
    @apply mb-2;
}

/* MENU */


.main-menu-auth {
    @apply flex justify-center w-full px-4 py-2
    shadow-md border-b sticky top-0;
    background-color: var(--main-menu-bg);
    border-color: var(--main-menu-b);
}

.main-menu {
    @apply flex justify-between w-full px-4 py-2
    shadow-md border-b sticky top-0;
    background-color: var(--main-menu-bg);
    border-color: var(--main-menu-b);
}

.main-menu ul {
    @apply flex items-center gap-2 list-none;
}

.main-menu ul li {
}

.main-menu ul li a {
    @apply flex items-center justify-center rounded-lg py-2 px-4;
    background-color: var(--main-menu-icon-bg);
    color: var(--main-menu-icon-text);
    border: 1px solid var(--main-menu-icon-border);
    letter-spacing: 0.07rem;
}

.main-menu ul li a:hover {
    background-color: var(--main-menu-icon-bg-hover);
    color: var(--main-menu-icon-text-hover);
    border-color: var(--main-menu-icon-border-hover);
}

/* MENU */

/* AUTH-BOX */

.auth-box {
    @apply rounded-md mx-auto w-full shadow-lg m-6;
    max-width: 600px;
    background-color: var(--option-box-bg);
    border: 1px solid var(--option-box-b);
}

.auth-box form {
    @apply flex flex-col p-8;
}

.auth-box label {
    @apply mb-2;
}

.auth-box input {
    @apply mb-4;
}

/* AUTH-BOX */


section {
    @apply flex flex-col w-full gap-4 mx-auto mt-6;
    max-width: 1920px;
    letter-spacing: 0.06rem;
}

.section {
    @apply flex flex-col w-full mx-auto;
    max-width: 1920px;
    letter-spacing: 0.06rem;
}

@media (max-width: 1960px) {
    section, .section {
        @apply w-full;
        width: calc(100% - 3rem);
    }
}

section.header {
    @apply px-2
}

section.slim {
    @apply border p-4 rounded-md;
    border-color: rgba(238, 238, 238, 0.05);
    background-color: rgba(238, 238, 238, 0.01);
}

section.bordered {
    @apply border p-8 rounded-md;
    border-color: rgba(238, 238, 238, 0.05);
    background-color: rgba(238, 238, 238, 0.01);
}

/* TOP OPTION BOX */

.option-box {
    @apply rounded-md w-full shadow-lg p-6;
    background-color: var(--option-box-bg);
    border: 1px solid var(--option-box-b);
}


.option-box form {
    @apply flex flex-col;
}

.inner-option-box-min {
    @apply rounded-md w-full p-2;
    background-color: var(--option-box-min-bg);
}

.inner-option-box-stripped {
    @apply rounded-md w-full p-6;
    background-color: var(--body-bg-color-faint);
}

.inner-option-box {
    @apply flex flex-col gap-2 rounded-md w-full p-6;
    background-color: var(--body-bg-color-faint);
}

.form-box-row {
    @apply flex flex-wrap rounded-md w-full shadow-lg p-6;
    background-color: var(--option-box-bg);
    border: 1px solid var(--option-box-b);
}

.form-box {
    @apply flex flex-col rounded-md w-full shadow-lg p-6;
    background-color: var(--option-box-bg);
    border: 1px solid var(--option-box-b);
}

.form-box label {
    @apply mb-2;
}

.form-box input[type] {
    @apply mb-4;
}

.form-box select {
    @apply mb-4;
}

.form-box textarea {
    @apply mb-4;
}

.quests {
    @apply flex flex-wrap gap-4;
}

.quest-card-add {
    @apply flex flex-col w-full gap-4 p-4 rounded-md justify-center items-center;
    max-width: 400px;
    min-height: 300px;
    background-color: var(--option-box-bg-faint);
    border: 1px solid var(--option-box-b);
}

.quest-card {
    @apply flex flex-col w-full justify-between gap-4 p-4 rounded-md;
    max-width: 400px;
    min-height: 300px;
    background-color: var(--option-box-bg);
    border: 1px solid var(--option-box-b);
}

.quest-card h2 {
    @apply text-2xl;
}

.quest-card h3 {
    @apply text-lg italic;
}

.quest-card p {
    @apply text-sm;
}

.quest-arc-cards {
    @apply flex flex-wrap justify-center items-start gap-4;
}

.quest-arc-card {
    @apply flex flex-col w-full gap-2 p-4 rounded-md;
    min-height: 300px;
    max-width: 430px;
    background-color: var(--option-box-bg);
    border: 1px solid var(--option-box-b);
}

.quest-arc-card-add {
    @apply flex flex-col gap-4 w-full p-4 rounded-md justify-center items-center;
    min-height: 680px;
    max-width: 430px;
    background-color: var(--option-box-bg-faint);
    border: 1px solid var(--option-box-b);
}

.quest-new-arc-card {
    @apply w-full;
    max-width: 600px;
}


.collapsible {
    @apply flex flex-col rounded-md w-full shadow-lg border gap-0;
    border-color: rgba(238, 238, 238, 0.05);
    background-color: rgba(238, 238, 238, 0.01);
    margin: 0;
}

.collapsible > button.open {
    @apply rounded-b-none inline-flex justify-between;
}

.collapsible > button.closed {
    @apply rounded inline-flex justify-between;
}

.collapsible-content {
    @apply p-4;
}

.character-cards {
    @apply flex flex-col gap-2;
}

.character-card {
    @apply flex flex-col w-full gap-2 p-4 rounded-md;
    background-color: var(--option-box-bg);
    border: 1px solid var(--option-box-b);
}

.character-card-sections {
    @apply grid grid-cols-3 gap-2;
}


@media (max-width: 1200px) {
    .character-card-sections {
        @apply grid-cols-2;
    }
}

@media (max-width: 900px) {
    .character-card-sections {
        @apply grid-cols-1;
    }
}

.character-card-arc-section {
    @apply w-full;
}

.character-card-section {
    @apply w-full flex flex-col gap-2;
}