[data-theme='dark'] {
    --body-bg-color: #20232b;

    --default-text-color: rgba(255, 255, 255, 0.8);

    /* MENU */
    --main-menu-bg: #202b38;
    --main-menu-icon-bg: #2c3e50;
    --main-menu-icon-text: #ecf0f1;
    --main-menu-icon-border: rgba(255, 255, 255, 0);
    --main-menu-icon-bg-hover: #34495e;
    --main-menu-icon-text-hover: #ecf0f1;
    --main-menu-icon-border-hover: rgba(0, 50, 67, 0.3);

    /* AUTH-BOX */

    --auth-box-bg: #2c3e50;

    /* FORMS */
    --input-placeholder-text: rgba(0, 0, 0, 0.2);
    --input-bg: #9b9da8;
    --input-border: #34495e;
    --input-border-hover: #2c3e50;
    --input-border-focus: #2c3e50;
    --input-bg-read-only: #34495e;

    --input-range-accent: #3498db;

    --input-required-b: #4e0d0d;

    /* BUTTONS */

    --button-confirm-bg: #2ecc71;
    --button-confirm-text: #ffffff;
    --button-confirm-border: #27ae60;
    --button-confirm-bg-hover: #27ae60;
    --button-confirm-text-hover: #ffffff;

}