{% extends "extends/main.html" %}
{% block title %}Quests - {{ quest.title }}{% endblock %}

{% block alpinejs_page_data %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('quest_voyage', () => ({

                socket: null,
                reconnect_attempts: 0,
                leaving: false,

                user_id: '{{ session.get("user_id") }}',
                private_key: '{{ private_key }}',

                quest_id: {{ quest.quest_id }},
                quest_code: '{{ quest.quest_code }}',
                title: '{{ quest.title }}',
                genre: '{{ quest.rel_genre.genre }}',
                summary: '{{ quest.summary }}',

                character: {
                    character_id: {{character.character_id}},
                    full_name: '{{character.full_name}}',
                    back_story: '{{character.back_story}}',
                    display_picture: '{{character.display_picture}}',
                    arc: '{{character.arc}}',
                    description: '{{character.description}}',
                    modifier: '{{character.modifier}}',
                    bonus: '{{character.bonus}}',
                    weapon_name: '{{character.weapon_name}}',
                    weapon_damage: {{character.weapon_damage}},
                    health: {{character.health}},
                    current_health: {{character.current_health}},
                    defence: {{character.defence}},
                    strength: {{character.strength}},
                    agility: {{character.agility}},
                    intelligence: {{character.intelligence}},
                    luck: {{character.luck}},
                    perception: {{character.perception}},
                    persuasion: {{character.persuasion}},
                    sleeping: {{character.sleeping|string|lower}},
                    confused: {{character.confused|string|lower}},
                    poisoned: {{character.poisoned|string|lower}},
                    buffed: {{character.buffed|string|lower}},
                },

                gold: {{character.gold}},
                inventory: {{character.inventory|safe}},

                health_percentage: 0,
                health_bar_class: 0,

                section_quest: false,
                section_how_to_play: false,
                section_character: false,
                section_location: false,
                section_encounter: false,

                die_roll: 1,
                die_spins: 10,
                die_interval: null,

                wsConnect() {
                    this.socket = new WebSocket('{{ ws_uri }}')
                    this.wsEvents()
                },

                wsAuthenticate() {
                    this.socket.send(JSON.stringify({
                        'user_id': this.user_id,
                        'private_key': this.private_key,
                        'action': 'authenticate'
                    }))

                    if (this.reconnect_attempts === 0) {
                        // Only send if the connection was not lost
                        this.broadcastEnterVoyage()
                    }
                },

                wsEvents() {
                    this.socket.onopen = (event) => {
                        console.log('WebSocket is connected')

                        this.wsAuthenticate()

                        if (this.reconnect_attempts > 0) {
                            Alpine.store('body').showMessage(
                                'Reconnected!',
                                'good'
                            )
                            this.reconnect_attempts = 0
                        }

                    }

                    this.socket.onmessage = (event) => {

                        const data = JSON.parse(event.data)

                        if (data.hasOwnProperty('set_variables')) {

                            for (const [key, value] of Object.entries(data.set_variables)) {
                                this[key] = value
                            }
                        }

                        if (data.hasOwnProperty('message')) {
                            Alpine.store('body').showMessage(data.message, data.message_status)
                        }

                    }

                    this.socket.onclose = (event) => {
                        console.log('WebSocket is closed now.')

                        if (!this.leaving) {

                            Alpine.store('body').showMessage(
                                'Connection to the server has been lost!',
                                'bad'
                            )

                            if (this.reconnect_attempts < 5) {
                                this.reconnect_attempts++
                                setTimeout(() => {
                                    Alpine.store('body').showMessage(
                                        'Reconnecting...',
                                        'bad'
                                    )
                                    this.wsConnect()
                                }, 1000)
                            }

                        }

                    }
                },

                wsSend() {
                    this.socket.send(JSON.stringify({
                        'user_id': this.user_id,
                        'private_key': this.private_key
                    }))
                },

                broadcastEnterVoyage() {
                    this.socket.send(JSON.stringify({
                        'user_id': this.user_id,
                        'private_key': this.private_key,
                        'action': 'broadcast_to_quest',
                        'data': {
                            'message': `${this.character.full_name} has joined the voyage!`,
                            'message_status': 'good'
                        }
                    }))
                },

                broadcastLeaveVoyage() {
                    this.leaving = true
                    this.socket.send(JSON.stringify({
                        'user_id': this.user_id,
                        'private_key': this.private_key,
                        'action': 'broadcast_to_quest',
                        'data': {
                            'message': `${this.character.full_name} left the voyage, and returned to purgatory.`,
                            'message_status': 'bad'
                        }
                    }))
                    setTimeout(
                        () => {
                            window.location.href = `/quest/${this.quest_code}/purgatory`
                        },
                        1000
                    )
                },

                broadcastDieRoll() {
                    this.socket.send(JSON.stringify({
                        'user_id': this.user_id,
                        'private_key': this.private_key,
                        'action': 'broadcast_to_quest',
                        'data': {
                            'message': `{{ session.get('user_name') }} rolled a ${this.die_roll}!`,
                            'message_status': 'good'
                        }
                    }))
                },

                calculateHealthPercentage() {
                    if (this.character.current_health === this.character.health) {
                        this.health_percentage = 100;
                        return;
                    }
                    this.health_percentage = (
                        this.character.current_health /
                        this.character.health
                    ) * 100;
                },

                healthBarClass() {
                    if (this.health_percentage < 40) {
                        this.health_bar_class = 'low';
                        return 'low';
                    }
                    if (this.health_percentage >= 40 && this.health_percentage < 70) {
                        this.health_bar_class = 'medium';
                        return 'medium';
                    }
                    if (this.health_percentage >= 70) {
                        this.health_bar_class = 'high';
                        return 'high';
                    }
                },

                increaseHealthSlowly(new_health) {
                    let nh = parseInt(new_health);

                    if (nh > this.character.health) {
                        nh = this.character.health;
                    }

                    let _interval = setInterval(() => {
                        if (nh > this.character.current_health) {

                            if (this.character.current_health === this.character.health) {
                                clearInterval(_interval);
                                return;
                            }

                            this.character.current_health += 1;
                            this.calculateHealthPercentage();
                            this.healthBarClass();

                        } else {

                            clearInterval(_interval);

                        }

                    }, 10);

                },

                decreaseHealthSlowly(new_health) {
                    let nh = parseInt(new_health);

                    if (nh < 0) {
                        nh = 0;
                    }

                    let _interval = setInterval(() => {
                        if (nh < this.character.current_health) {

                            this.character.current_health -= 1;
                            this.calculateHealthPercentage();
                            this.healthBarClass();

                        } else {

                            clearInterval(_interval);

                        }
                    }, 10);

                },

                setNewHealth(new_health) {
                    let nh = parseInt(new_health);
                    if (nh > this.character.current_health) {
                        self.increaseHealthSlowly(nh);
                    } else {
                        self.decreaseHealthSlowly(nh);
                    }
                },

                spinDie() {
                    this.die_roll = Math.floor(Math.random() * 6) + 1;
                },

                throwDie() {
                    for (let i = 0; i < 10; i++) {
                        setTimeout(() => {
                            this.spinDie();
                        }, 90 * i);
                        if (i === 9) {
                            setTimeout(() => {
                                this.broadcastDieRoll();
                            }, 90 * i);
                        }
                    }
                },

                init() {
                    this.wsConnect()
                    this.calculateHealthPercentage();
                    this.healthBarClass();
                }

            }))
        })

    </script>
{% endblock %}


{% block container %}

    <div x-data="quest_voyage">

        <section class="slim">
            <div class="inner-option-box-stripped">

                <div class="flex flex-col justify-center gap-4 w-fit">
                    <div class="d6-die">
                    <img :src="`/static/icons/6d-${die_roll}.svg`"
                         alt="D6">
                        </div>
                    <button class="btn w-full" @click="throwDie()">Roll d6</button>
                </div>

            </div>

            <section class="collapsible">

                <button @click="section_quest = !section_quest"
                        class="btn"
                        :class="section_quest ? 'open' : 'closed'">
                    <span>Quest: {{ quest.title }}</span>

                    <img width="12"
                         x-cloak
                         x-show="!section_quest"
                         src="{{ url_for('static', filename="icons/fold-down.svg") }}"
                         alt="Fold Down">
                    <img width="12"
                         x-cloak
                         x-show="section_quest"
                         src="{{ url_for('static', filename="icons/fold-up.svg") }}"
                         alt="Fold Up">
                </button>

                <div class="collapsible-content"
                     x-cloak
                     x-show="section_quest">

                    <div class="inner-option-box">
                        <h1 class="text-2xl">{{ quest.title }}</h1>
                        <p class="mb-3">{{ quest.summary }}</p>
                        <p>Genre: <strong>{{ quest.rel_genre.genre }}</strong></p>
                        <p>Quest Code: <strong>{{ quest.quest_code }}</strong></p>
                    </div>

                </div>

            </section>


            <section class="collapsible">

                <button @click="section_character = !section_character"
                        class="btn"
                        :class="section_character ? 'open' : 'closed'">
                    <span>Character: <span x-text="character.full_name"></span></span>

                    <img width="12"
                         x-cloak
                         x-show="!section_character"
                         src="{{ url_for('static', filename="icons/fold-down.svg") }}"
                         alt="Fold Down">
                    <img width="12"
                         x-cloak
                         x-show="section_character"
                         src="{{ url_for('static', filename="icons/fold-up.svg") }}"
                         alt="Fold Up">
                </button>

                <div class="collapsible-content"
                     x-cloak
                     x-show="section_character">

                    {% include 'quest/voyage/character.html' %}

                </div>

            </section>

            <section class="collapsible">
                <button @click="section_location = !section_location"
                        class="btn"
                        :class="section_location ? 'open' : 'closed'">
                    <span>Current Location</span>

                    <img width="12"
                         x-cloak
                         x-show="!section_location"
                         src="{{ url_for('static', filename="icons/fold-down.svg") }}"
                         alt="Fold Down">
                    <img width="12"
                         x-cloak
                         x-show="section_location"
                         src="{{ url_for('static', filename="icons/fold-up.svg") }}"
                         alt="Fold Up">
                </button>

                <div class="collapsible-content"
                     x-cloak
                     x-show="section_location">
                </div>

            </section>

            <section class="collapsible">
                <button @click="section_how_to_play = !section_how_to_play"
                        class="btn"
                        :class="section_how_to_play ? 'open' : 'closed'">
                    <span>How to Play</span>

                    <img width="12"
                         x-cloak
                         x-show="!section_how_to_play"
                         src="{{ url_for('static', filename="icons/fold-down.svg") }}"
                         alt="Fold Down">
                    <img width="12"
                         x-cloak
                         x-show="section_how_to_play"
                         src="{{ url_for('static', filename="icons/fold-up.svg") }}"
                         alt="Fold Up">
                </button>

                <div class="collapsible-content"
                     x-cloak
                     x-show="section_how_to_play">

                    {% include 'quest/includes/hot-to-play.html' %}

                </div>

            </section>

        </section>

        <section class="slim" x-data="{show_leave: false}">
            <div class="flex gap-2">
                <button class="btn warning w-48" @click="show_leave = true">Purgatory</button>
            </div>
            <div x-cloak x-show="show_leave">
                <div class="inner-option-box gap-6">

                    <p>Are you sure you want to leave the voyage?</p>

                    <div class="flex gap-2">

                        <button class="btn w-48" @click="show_leave = false">No</button>
                        <button class="btn confirm" @click="broadcastLeaveVoyage()">Yes, leave
                        </button>

                    </div>

                </div>
            </div>
            <div x-cloak x-show="leaving">

                <div class="inner-option-box gap-6">
                    <p>Returning to purgatory...</p>
                </div>

            </div>
        </section>

    </div>

{% endblock %}
