<section class="header">
    <small>Your Quests</small>
</section>
<section class="bordered">

    <div class="quests">
        {% for quest in users_quests %}
            <div class="quest-card" x-data>

                <div :style="$store.body.genreBackground({{ quest.fk_genre_id }})" class="h-44 w-full rounded-md">

                </div>

                <div class="inner-option-box">
                    <p>Quest Code: <strong>{{ quest.quest_code }}</strong></p>
                    <p>Genre: <strong>{{ quest.rel_genre.genre or "Genre Not Selected" }}</strong></p>

                    <h2 class="mt-3 font-bold">{{ quest.title }}</h2>
                    <p class="mb-3">{{ quest.summary|truncate(80) }}
                        {% if quest.summary|length > 79 %}
                            <a @click="setShowMore(
                        $store.body.genreBackground({{ quest.fk_genre_id }}),
                        '{{ quest.title }}',
                        '{{ quest.summary }}'
                        )" class="text-blue-400 cursor-pointer">read&nbsp;more</a>
                        {% endif %}
                    </p>
                </div>

                <div class="flex flex-col gap-2">

                    <a href="{{ url_for('quest.master', quest_code=quest.quest_code) }}"
                       class="btn confirm">
                        Enter as Quest Master
                    </a>

                    <a href="{{ url_for('quest.edit', quest_id=quest.quest_id) }}"
                       class="btn">
                        Edit Quest
                    </a>

                </div>

            </div>
        {% endfor %}

        <div class="quest-card-add">
            <a href="{{ url_for('quest.add') }}" class="btn confirm">
                Add Quest
            </a>
        </div>
    </div>

</section>