{% set active_class = 'class=active' %}


{% if session.get("authenticated", False) %}

    <nav class="main-menu" role="menubar">
        <a href="{{ url_for('quests.index') }}">
            <img src="{{ url_for('static', filename='easy_quest_logo.gif') }}" alt="EasyQuest Logo">
        </a>
        <ul>

            <li>
                <a href="{{ url_for('quests.index') }}" {{ active_class if 'quests' in request.url }}>
                    <img width="24" src="{{ url_for('static', filename='icons/quests.svg') }}" alt="Quests">
                </a>
            </li>

            <li>
                <a href="{{ url_for('account.index') }}" {{ active_class if 'account' in request.url }}>
                    <img width="24" src="{{ url_for('static', filename='icons/user.svg') }}" alt="Account">
                </a>
            </li>

            <li>
                <a href="{{ url_for('auth.logout') }}">
                    <img width="24" src="{{ url_for('static', filename='icons/log-out.svg') }}" alt="Log Out">
                </a>
            </li>

        </ul>
    </nav>

{% else %}

    <nav class="main-menu-auth" role="menubar">
        <img src="{{ url_for('static', filename='easy_quest_logo.gif') }}" alt="EasyQuest Logo">
    </nav>

{% endif %}