<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('body', {

            init() {
                console.log("Alpine store body initialized")
            },

            dialog: false,
            message_count: 0,
            messages: {},

            base_styles: {
                'background-size': 'cover',
                'background-position': 'center',
                'background-repeat': 'no-repeat',
            },

            showMessage(msg, status = 'message') {

                const index = this.message_count

                const timeout = setTimeout(() => {
                    this.removeMessage(index)
                }, 10000)

                this.messages[index] = {
                    message: msg,
                    status: status,
                    timeout: timeout
                }

                this.message_count += 1

            },

            removeMessage(index) {
                if (this.messages[index].timeout) {
                    clearTimeout(this.messages[index].timeout)
                }
                delete this.messages[index]
            },

            clearMessageTimeout(index) {
                if (this.messages[index].timeout) {
                    clearTimeout(this.messages[index].timeout)
                }
            },

            genreBackground(genre_id) {
                if (typeof genre_id === 'string') {
                    genre_id = parseInt(genre_id)
                }

                switch (genre_id) {
                    case 1:
                        return {
                            'background-image':
                                'url("{{ url_for("static", filename="mythical-historic-fantasy.png") }}")',
                            ...this.base_styles
                        }
                    case 2:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="cult-mystery.png") }}")',
                            ...this.base_styles
                        }
                    case 3:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="zombie-apocalypse.png") }}")',
                            ...this.base_styles
                        }
                    case 4:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="apocalypse.png") }}")',
                            ...this.base_styles
                        }
                    case 5:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="crime-film-noir.png") }}")',
                            ...this.base_styles
                        }
                    case 6:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="existential-horror.png") }}")',
                            ...this.base_styles
                        }
                    case 7:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="dystopian-future.png") }}")',
                            ...this.base_styles
                        }
                    case 8:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="mythic-folklore.png") }}")',
                            ...this.base_styles
                        }
                    case 9:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="science-fiction.png") }}")',
                            ...this.base_styles
                        }
                    case 998:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="arc-cards.png") }}")',
                            ...this.base_styles
                        }
                    case 999:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="np-arc-cards.png") }}")',
                            ...this.base_styles
                        }
                    case 1001:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="locations.png") }}")',
                            ...this.base_styles
                        }
                    default:
                        return {
                            'background-image': 'url("{{ url_for("static", filename="purgatory.png") }}")',
                            ...this.base_styles
                        }
                }
            },

            showModal(id) {
                const el = document.getElementById(id)
                const div_child = el.querySelector('div')
                console.log(div_child)
                div_child.scrollTop = 0
                el.showModal()
                this.dialog = true
            },

            closeModal(id) {
                const el = document.getElementById(id)
                el.close()
                this.dialog = false
            }

        })
    })
</script>