{% set active_class = 'class=active' %}


{% if session.get("authenticated", False) %}

    <nav class="main-menu" role="menubar">
        <a href="{{ url_for('quests.index') }}">
            <img src="{{ url_for('static', filename='easy_quest_logo.gif') }}" alt="EasyQuest Logo">
        </a>
        <ul>

            <li>
                <a href="{{ url_for('account.index') }}" {{ active_class if 'account' in request.url }}>
                    Your Account
                </a>
            </li>

            {% if session.get('user_type', 0) == 10 %}

                <li>
                    <a href="{{ url_for('system.users') }}" {{ active_class if 'user' in request.url }}>
                        Users
                    </a>
                </li>

            {% endif %}

            <li>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </li>

        </ul>
    </nav>

{% else %}

    <nav class="main-menu-auth" role="menubar">
        <img src="{{ url_for('static', filename='easy_quest_logo.gif') }}" alt="EasyQuest Logo">
    </nav>

{% endif %}