{% extends "extends/main.html" %}
{% block title %}Quests - {{ quest.title }}{% endblock %}


{% block alpinejs_page_data %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('quest_edit', () => ({
                section_quest: false,
                section_arc_cards: false,
                section_np_arc_cards: false,

                genre_id: {{ quest.fk_genre_id }},
                title: '{{ quest.title }}',
                summary: '{{ quest.summary }}',

                genre_name: null,

                genres: {{ genres | tojson | safe }},

                genre_background: null,

                setGenre() {
                    const parsed_genre = parseInt(this.genre_id)
                    const genre = this.genres.find(g => g.genre_id === parsed_genre)
                    this.genre_background = Alpine.store('body').genreBackground(parsed_genre)
                    this.genre_name = genre.genre
                },

                init() {
                    this.setGenre()
                }

            }))
        })

    </script>
{% endblock %}


{% block container %}
    <section class="slim" x-data="quest_edit">

        <div class="flex flex-col gap-4">

            <div class="flex flex-row justify-between">
                <a href="{{ url_for('quests.index') }}" role="button" class="btn fait">
                    Back
                </a>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">

                <div class="inner-option-box order-2 md:order-1">
                    <p>Quest Code: <strong>{{ quest.quest_code }}</strong></p>
                    <p>Genre: <strong x-text="genre_name"></strong></p>

                    <h2 class="text-2xl mt-3 font-bold">{{ quest.title }}</h2>
                    <p class="mb-3">{{ quest.summary }}</p>
                </div>

                <div :style="genre_background" class="min-h-64 w-full rounded-md order-1 md:order-2">

                </div>

            </div>

            <section class="collapsible">

                <button @click="section_quest = !section_quest"
                        class="btn"
                        :class="section_quest ? 'open' : 'closed'">
                    <span x-text="`Quest: ${title}`"></span>

                    <img width="12"
                         x-cloak
                         x-show="!section_quest"
                         src="{{ url_for('static', filename="icons/fold-down.svg") }}"
                         alt="Fold Down">
                    <img width="12"
                         x-cloak
                         x-show="section_quest"
                         src="{{ url_for('static', filename="icons/fold-up.svg") }}"
                         alt="Fold Up">
                </button>

                <div class="collapsible-content"
                     x-cloak
                     x-show="section_quest">


                    <form action="{{ url_for('quest.edit', quest_id=quest.quest_id, var='edit') }}"
                          method="post"
                          class="form-box slim">

                        <input type="hidden" name="title" x-model="title">
                        <input type="hidden" name="summary" x-model="summary">
                        <input type="hidden" name="fk_genre_id" x-model="genre_id">

                        <label for="fk_genre_id">Genre</label>
                        <select id="fk_genre_id"
                                x-model="genre_id"
                                @change="setGenre()"
                                required>
                            <option value="0">Select...</option>
                            <template x-for="g in genres">
                                <option :value="g.genre_id"
                                        :selected="g.genre_id === genre_id"
                                        x-text="`${g.genre} - ${g.description}`"
                                ></option>
                            </template>
                        </select>

                        <label for="title">Title</label>
                        <input type="text" id="title" x-model="title" required>

                        <label for="summary">Summary</label>
                        <textarea id="summary" cols="30" rows="5"
                                  x-model="summary"></textarea>

                        <button type="submit" class="btn confirm">Save</button>

                    </form>

                </div>

            </section>


            {% include 'quest/includes/arc_cards.html' %}
            {% include 'quest/includes/np_arc_cards.html' %}

        </div>

    </section>

    <section class="slim" x-data="{show_delete: false}">
        <div>
            <button class="btn danger" @click="show_delete = true">Delete Quest</button>
        </div>
        <div x-cloak x-show="show_delete">
            <div class="inner-option-box gap-6">
                <strong class="font-bold text-red-700">DANGER ZONE</strong>
                <p>Deleting the quest will delete everything attached to the quest, and there's no undoing this.</p>

                <p>Are you sure you want to delete this quest?</p>

                <div class="flex gap-2">
                    <button class="btn w-48" @click="show_delete = false" x-cloak x-show="show_delete">No
                    </button>
                    <a class="btn danger" href="{{ url_for('quest.delete', quest_id=quest.quest_id) }}">
                        Yes, Delete</a>
                </div>

            </div>
        </div>

    </section>
{% endblock %}
