{##}
{##}
{#  ALPINEJS VALUES SET IN QUESTS/INDEX.HTML  #}
{##}
{##}
<section class="header">
    <small>Joined Quests</small>
</section>

<section class="bordered">
    <div class="quests">

        <template x-for="q in joined_quests">
            <div class="quest-card">

                <div :style="$store.body.genreBackground(q.__quest__.genre_id)" class="h-44 w-full rounded-md">

                </div>

                <div class="inner-option-box">

                    <p>Quest Code: <strong x-text="q.__quest__.quest_code"></strong></p>
                    <p>Genre: <strong x-text="q.__quest__.genre"></strong></p>

                    <h2 class="mt-3 font-bold" x-text="q.__quest__.title"></h2>
                    <p class="mb-3">
                        <span x-text="q.__quest__.summary_truncated"></span>
                        <a @click="setShowMore(q.__quest__.genre_id, q.__quest__.title, q.__quest__.summary)"
                           x-cloak
                           x-show="q.__quest__.summary.length > 79"
                           class="text-blue-400 cursor-pointer">
                            read&nbsp;more
                        </a>
                    </p>

                </div>

                <div class="flex flex-col gap-2">

                    <a class="btn confirm"
                       :href="q.__quest__.purgatory_url">
                        Enter Quest
                    </a>

                </div>

            </div>

        </template>

        <div class="quest-card-add">
            <div class="flex flex-col gap-2">
                <label for="quest_code" class="hidden">Join Quest</label>
                <input type="text"
                       name="quest_code"
                       id="quest_code"
                       placeholder="Quest Code"
                       x-model="find_quest_code"
                >
                <button type="button"
                        class="btn confirm"
                        @click="findQuest(find_quest_code)">
                    Find Quest
                </button>
                <button type="button"
                        class="btn faint"
                        @click="find_quest_code = ''">
                    Clear
                </button>
            </div>
        </div>

    </div>

</section>
