<div style="display: flex; flex-direction: row; align-items: center; gap: 2rem; margin-bottom: 2rem;">
    <div>
        <p>This is the footer, located here: <code>/Users/david/PycharmProjects/EasyQuest/app/flask_/blueprints/www/character/templates/character/includes/footer.html</code>
        </p>
        <p>It's being imported in the <code>/Users/david/PycharmProjects/EasyQuest/app/flask_/blueprints/www/character/templates/character/extends/main.html</code>
            template.</p>
    </div>
</div>
