{% extends "extends/main.html" %}
{% block title %}Quests{% endblock %}


{% block alpinejs_page_data %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('quests', () => ({

                joined_quests: [],
                find_quest_code: '',
                found_quest: {},

                show_more: false,
                show_more_background: '',
                show_more_title: '',
                show_more_summary: '',

                getJoinedQuests() {
                    fetch(
                        '/api/quests/joined', {
                            method: 'GET',
                            credentials: 'include',
                        })
                        .then(response => response.json())
                        .then(jsond => {
                            if (jsond.ok) {
                                this.joined_quests = jsond.data
                            } else {
                                this.joined_quests = []
                            }
                        })
                },

                joinedQuest(quest_id) {
                    fetch(
                        `/api/quests/join/${quest_id}`, {
                            method: 'GET',
                            credentials: 'include',
                        })
                        .then(response => response.json())
                        .then(jsond => {
                            if (jsond.ok) {
                                Alpine.store("body").showMessage(
                                    `You have joined Quest [${this.found_quest.quest_code}] -
                                    Adventure awaits! HUZZAH!`, 'good')
                                Alpine.store('body').closeModal(`found_quest`)

                                this.getJoinedQuests()

                                this.found_quest = {}
                                this.find_quest_code = ''
                            } else {
                                if (jsond.message) {
                                    Alpine.store("body").showMessage(jsond.message, 'bad')
                                } else {
                                    Alpine.store("body").showMessage(
                                        'Something went wrong! Please try again later!', 'bad')
                                }
                            }
                        })
                },

                findQuest(quest_code) {
                    if (!quest_code) {
                        Alpine.store("body").showMessage('No quest code entered!', 'bad')
                        return
                    }
                    fetch(
                        `/api/quests/find/${quest_code}`, {
                            method: 'GET',
                            credentials: 'include',
                        })
                        .then(response => {
                            if (!response.ok) {
                                return {
                                    ok: false, message:
                                        'Something went wrong! Try again later.'
                                }
                            }
                            return response.json()
                        })
                        .then(jsond => {
                            if (jsond.ok) {
                                this.found_quest = {
                                    genre_background: Alpine.store("body").genreBackground(jsond.data.genre_id),
                                    ...jsond.data
                                }
                                Alpine.store("body").showModal('found_quest')
                            } else {
                                Alpine.store("body").showMessage(jsond.message, 'bad')
                            }
                        })
                },

                setShowMore(background, title, summary) {
                    this.show_more = true
                    this.show_more_background = background
                    this.show_more_title = title
                    this.show_more_summary = summary
                    Alpine.store("body").showModal('show_more')
                },

                resetShowMore() {
                    this.show_more = false
                    this.show_more_background = ''
                    this.show_more_title = ''
                    this.show_more_summary = ''
                    Alpine.store("body").closeModal('show_more')
                },

                init() {
                    this.getJoinedQuests()
                }

            }))
        })
    </script>
{% endblock %}


{% block container %}

    <div x-data="quests">

        {% include "quests/includes/your-quests.html" %}
        {% include "quests/includes/joined-quests.html" %}

        {##}
        {##}
        {#  ----- SHOW MORE ------ #}
        {##}
        {##}
        <dialog id="show_more">
            <div x-show="show_more">

                <div :style="show_more_background"
                     class="h-44 w-full rounded-md flex-shrink-0">

                </div>

                <div class="inner-option-box">
                    <h2 class="mt-3 font-bold" x-text="show_more_title"></h2>
                    <p class="mb-3" x-text="show_more_summary"></p>
                </div>

                <button class="btn" @click="resetShowMore()">
                    Close
                </button>

            </div>
        </dialog>

        {##}
        {##}
        {#  ----- FOUND QUEST ------ #}
        {##}
        {##}
        <dialog id="found_quest">
            <div x-show="found_quest">

                <h1 class="text-2xl">Quest found!</h1>

                <div :style="found_quest.genre_background"
                     class="h-44 w-full rounded-md flex-shrink-0">

                </div>

                <div class="inner-option-box">
                    <p class="m-0">Quest Code: <strong x-text="found_quest.quest_code"></strong></p>
                    <p class="m-0">Genre: <strong x-text="found_quest.genre"></strong></p>

                    <h2 class="mt-3 font-bold" x-text="found_quest.title"></h2>
                    <p class="mb-3" x-text="found_quest.summary"></p>
                </div>

                <button type="button"
                        class="btn confirm"
                        @click="joinedQuest(found_quest.quest_id)">Join
                </button>
                <button class="btn" @click="$store.body.closeModal(`found_quest`)">
                    Close
                </button>

            </div>
        </dialog>

    </div>

{% endblock %}
